@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Oswald:wght@200&family=Rubik&display=swap');

:root{
    --colorNegro: #212121;
    --colorBlanco: #f8f8f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 4rem;
    
    
    
    
}

a{
    text-decoration: none;
    color: var(--colorNegro);
    
}
nav{
    display: flex;
    
}
nav > a {
    margin-left: 15px;
    
}

.hamburgesa{
    color: var(--colorNegro);
    display: none;
    font-size: 32px;
}
.hero{
    display: flex;
    flex-direction: column;
    
}
.contenedorHero{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    width: 70%;
    margin: auto;
    align-items: center;
    flex-flow: wrap;
    
    
    
    
}
.imagenHero{
    display: flex;
    justify-content: end;
    
    width: 40%;
    height: 15rem;
    
    
}
.contenedorTextoHero{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
    
    justify-content: space-around;
    margin-bottom: 2rem;
}
.contenedorTextoHero > h1 {
    
    font-size: 2.9rem;
    font-weight: lighter;
    color: #383737;
    flex-grow: 2;
    
}
.contenedorTextoHero > h2{
    margin-top: 1rem;
    color: var(--colorNegro);
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.08rem;
    flex-grow: 2;
    
}
/* pensar que detalle darle
.tituloHero b:hover{
    
    transition: 0.4s;
    box-shadow: 1px 2px 6px #3a3a3a;
}
*/

strong,b{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    
}
.logosHero{
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
    justify-content: space-between;
    width: 70%;
    color: var(--colorNegro);
    margin: auto;
    flex-flow: wrap;
    
}
.iconosHero{
    display: flex;
    font-size: 2rem;
    color: var(--colorNegro);
    letter-spacing: 2rem;
    justify-content: start;
    
    
}
.iconosHero a:hover{
    transition: 0.4s;
    color: rgb(20, 23, 187);
    
}
.logosHero p{
    font-size: 1.5rem;
}
.whatIDo{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    
    align-items: center;
    padding-bottom: 5rem;
    width: 70%;
    margin: auto;
    
}
.textoWhatIdo{
    display: flex;
    flex-direction:row;
    width: 70%;
    font-size: 3rem;
    font-weight: 900;
    color: var(--colorNegro);
    margin: auto;
    padding-bottom: 4rem;
    padding-top: 16rem;
    
    /*top-right-bottom-left*/
    
}
.contenedorServicios{
    display: flex;
   
    align-content: center;
    justify-content: space-between;
}
.contenderoTextoServicios{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.contenderoTextoServicios > h2{
    letter-spacing: 0.11rem;
    margin-bottom: 0.7rem;
}
.contenderoTextoServicios > p{
    color: #7f7f7f;
}
.colorIcono{
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: var(--colorNegro);
}


.skills{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 70%;
    margin: auto;
    align-items: center;
    align-content: center;
    
    
}
.skills i {
    display: flex;
    font-size: 3.5rem;
    margin-left: 1rem;
    align-items: center;
    
    
}
.skills div{
    display: flex;
    flex-direction: row;
    border-radius:14px;
    width: 22rem;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    height: 5rem;
    
}
h3{
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: 100;
    font-size: 1.5rem;
    
    
}
.skills div:hover{
    color: var(--colorBlanco);
    background-color: var(--colorNegro);
    transition: 0.4s;
    box-shadow: 1px 2px 6px #3a3a3a;
}
/* Linea */
hr.solid {
    border-top: 2px solid #bbb;
  }
.experience{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.parrafoExperience > h2{
    padding-top: 2rem;
    color: var(--colorNegro);
}
.parrafoExperience > p{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #7f7f7f;
}
footer{
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 15rem;
    justify-content: space-between;
    padding-bottom: 17rem;
    flex-flow: wrap;
}
.footerItself{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 50%;
}
.footerItself h1{
    display: flex;
    flex-direction:row;
    
    font-size: 3rem;
    font-weight: 900;
    color: var(--colorNegro);
    
    padding-bottom: 3rem;
}
.footerItself h2{
    font-size: 1.8rem;
    font-weight: lighter;
    color: rgb(36, 33, 33);
    padding-bottom: 4.2rem;
}
.ultimasDosCajas{
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
    flex-flow: wrap;
}
.ultimasDosCajas p{
    padding-bottom: 1.4rem;
    color: #7f7f7f;
    font-size: 1.2rem;
}
.ultimasDosCajas a{
    font-size: 1.4rem;
}
.iconosFooter{
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: var(--colorNegro);
    width: 50%;
    height: 400px;
    box-shadow: 1px 2px 6px #3a3a3a;
    justify-content: center;
    padding: auto;;
}
.form label{
    display: flex;
    color: #bbb;
    width: 70%;
    margin: auto;
}
.form input{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 0.3rem;
    border: solid 1px #999;
    color: var(--colorNegro);
    
}
.form textarea{
    display: flex;
    width: 70%;
    margin: auto;
    height: 100px;
    
    resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
    display: flex;
    width: 20%;
    margin-right: 5.75rem;
    margin-top: 1rem;
    background-color: var(--colorBlanco);
    border: none;
    color: var(--colorNegro);
    
    text-decoration: none;
    
    cursor: pointer;
  }
  

  /*MEDIA QUERIES*/

  @media(max-width: 1024px){
     /*PORTADA*/

    .contenedorHero{
        flex: 1;
        padding: 20% 5% 0% 5%;
        
        
    }
    .contenedorHero h1{
        font-size: 2.5rem;
        line-height: 0.9em; 

    }
    .contenedorHero h2{
        font-size: 1.2rem;
    }
    .logosHero{
        flex: 1;
        padding: 20% 5% 0% 5%;
    }
    .logosHero a{
        font-size: 1.3rem;
        letter-spacing: 1rem;
    }
    .whatIDo{
        padding: 7% 0% 0% 0%;
    }
    .whatIDo p{ 
        font-size: 0.8rem;
    }
    .textoWhatIdo{
        font-size: 2.5rem;
    }
    .footerItself h1{
        font-size: 2rem;
        
    }
    .footerItself h2{
        font-size: 1.2rem;
    }
    .footerItself a{
        font-size: 1.1rem;
    }
    .footerItself p{
        font-size: 0.9rem;
        
    }
    .ultimasDosCajas div{
        font-size: 0.1rem;
        letter-spacing: 0rem;

    }
    .ultimasDosCajas p{
        padding-bottom: 0.3rem;
    }
}





   /*Pantallas de 768px o menos*/
@media(max-width: 768px){

    .contenedorHero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    } 
    .imagenHero{
        width: 70%;
        height: 10rem;
        justify-content: center;
        padding-top: 1rem;
    }
    .contenedorTextoHero{
        width: 100%;
    }
}

@media(max-width:600px){
    
    .imagenHero{
        width: 70%;
        height: 13rem;
    }
    nav{
        display: none;
    }
    .hamburgesa{
        display: block;
        color: black;
    }
    .logosHero{
        font-size: 0.8rem;
        gap: none;
        
    }
    .iconosHero{
        
        letter-spacing: none;
        padding-bottom: 1rem;
    }
    .contenedorServicios{
        flex-wrap: wrap;
    }
    .footerItself {
        width: 100%;
        
    
    }
    .form{
        width: 100%;
    }
    
}