@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Oswald:wght@200&family=Rubik&display=swap');

:root{
    --colorNegro: #212121;
    --colorBlanco: #f8f8f8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    
    
    
    
}

a{
    text-decoration: none;
    color: var(--colorNegro);
}
nav > a {
    margin-left: 15px;
    
}

.hamburgesa{
    color: var(--colorNegro);
    display: none;
    font-size: 32px;
}
.hero{
    display: flex;
    flex-direction: column;
    
}
.contenedorHero{
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-between;
    margin-top: 10rem;
    max-width: 81%;
    align-items: center;
    gap: 10rem;
    
    
    
    
}
.imagenHero{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: end;
    
    
    border-radius: 2.5%;
}
.contenedorTextoHero{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    justify-content: center;
    
    justify-content: space-around;
    margin-bottom: 2rem;
}
.contenedorTextoHero > h1 {
    text-align: left;
    font-size: 2.9rem;
    font-weight: lighter;
    color: #383737;
    
}
.contenedorTextoHero > h2{
    margin-top: 1rem;
    color: var(--colorNegro);
    font-size: 1.8rem;
    font-weight: lighter;
    letter-spacing: 0.08rem;
    
}
strong,b{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    
}
.logosHero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
    color: var(--colorNegro);
    margin-top: 8rem;
    
}
.logosHero > .iconosHero{
    display: flex;
    font-size: 2rem;
    color: var(--colorNegro);
    letter-spacing: 2rem;
    justify-content: center;
}
.whatIDo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.textoWhatIdo{
    display: flex;
    flex-direction:row;
    
    font-size: 3rem;
    font-weight: 900;
    color: var(--colorNegro);
    padding: 15% 5% 3% 18%;/*top-right-bottom-left*/
    
}
.contenedorServicios{
    display: flex;
    width: 70%;
}
.contenderoTextoServicios{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.contenderoTextoServicios > h2{
    letter-spacing: 0.11rem;
    margin-bottom: 1.5rem;
}
.contenderoTextoServicios > p{
    color: #7f7f7f;
}
.colorIcono{
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: var(--colorNegro);
}
